node_modules/
.cache/
dist/
public/
package-lock.json

.firebase/
.firebase/hosting.cHVibGlj.cache
.firebase/*
.firebase/hosting.cHVibGlj.cache
.firebase
firebase/hosting.cHVibGlj.cache
firebase/
firebase/hosting.*.*
